

.nav-button {
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.nav-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}