h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}
.intro-title {
    display: flex;
    justify-content: center;
}

/* Slideshow container */
.slideshow-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}
  
  /* Hide the images by default */
.mySlides1 {
    display: none;
}
.mySlides2 {
    display: none;
}
  
.button-container {
    position: absolute;
    display: flex;
    gap: 368px;
    margin-bottom: 30px;
}
  /* Next & previous buttons */
.slideshow-button {
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 1.5s ease;
}

/*Project View Container*/
.project-left, .project-right {
    display: flex;
    flex-direction: row;
}
.project-title {
    font-size: 3rem;
    margin: 0;
}
.project-container{
    margin: 0 20px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-button:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    display:flex;
    justify-content: center;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    top: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 1200px) {
    .project-left {
        display: flex;
        flex-direction: column;
    }
    .project-right {
        display: flex;
        flex-direction: column-reverse;
    }
    .project-container{
        margin: 0 0;
    }
    

}
