body {
    font-family: Verdana, sans-serif;
    background-color: rgb(20, 0, 41);
    color: rgb(255, 255, 255);
    margin: 0;
    width: 100%;
    font-size: 14px;
}


/* FORMATTING HEADER */
.nav-header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(33, 0, 66);
    z-index: 1000;
    white-space: nowrap;
}

.page-title{
    padding-left: 5%;
}

.menu-icon {
    display: none;
    padding-right: 5%;
}

.nav-links {
    list-style: none;
    display:  flex;
    flex-direction: row;
    padding-right: 5%;
}

.nav-links li {
    gap: 10px;
    text-align: center;
}

.nav-links a {
    color: white;
    padding: 15px;
    font-size: 1rem;
}
/* END OF HEADER FORMATTING*/


/* FORMATTING TEXT HEADER*/
.page-header {
    margin-top: 50px;
    display: flex;
    width: 100%;
    background-color: rgb(40, 10, 75);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.page-header-text {
    font-size: 5rem;
    font-weight: bold;
}
/* END OF TEXT HEADER FORMATTING*/


/* FORMATTING MAIN CONTENT */
.main-content {
    margin: 50px 15%;
    font-size: 1.5em;
}
/* END OF MAIN CONTENT FORMATTING */


/* HANDLER FOR SMALLER SCREENS */
@media only screen and (max-width: 1200px) {
    .main-content {
        margin: 50px 5%;
        font-size: 1.5em;
    }

}

@media only screen and (max-width: 768px) {
    /*HANDLES DROP DOWN NAVIGATION FOR SMALLER SCREENS*/
    .menu-icon {
        display: grid;
    }

    .main-content {
        margin: 50px 10%;
        font-size: 1.5em;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 35px;
        right: 0;
        background-color: #333;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }
    

}