.main-content {
    margin: 50px 25%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
}
.contact-section {
    text-align: center;
}
.joke-section {
    margin-top: 100px;
    text-align: center;
}
.email-button {
    font-size: 3rem;
}