/* FORMATTING HOME NAVIGATION MENU */
.nav-button {
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.nav-title {
    z-index: 1;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* END OF HOME NAVIGATION MENU FORMATTING */


hr {
    margin: 100px 0;
}

.nav-image {
    border-radius: 10px;
    opacity: .5;
    object-fit: cover;
    transition: opacity 1s; /* Smooth hover effect */
}
.nav-image:hover {
    cursor: pointer;
    opacity: 1;
    
}