/* FORMATTING HOME NAVIGATION MENU */
.nav-button {
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.nav-title {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* END OF HOME NAVIGATION MENU FORMATTING */


hr {
    margin: 100px 0;
}

.nav-image {
    object-fit: cover;
}